:root{

    --primary-color: #51495F;
    --secondary-color:#C19EFF;
    --secondary2-color:hsla(262, 100%, 81%, 0.521);
    --secondary3-color:hsla(262, 100%, 81%, 0.5921);
    --white-color:#FFFFFF;

}