*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    background-color: var( --primary-color);
}

 a{
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

a:hover{
    color: var(--secondary-color);
    background-color: var(--white-color);
    border-radius: 40px;
    
}

.container{
    width: 80%;
    margin: auto;
}

.head{
    text-align: center;
    color: var(--white-color);
      font-family: 'Poppins', sans-serif;
      padding-bottom: 50px;
      /* padding-top: 80px; */
}

.head h6{
    font-size: 20px;
}

.head h2{
font-size: 36px;
}

button{
    font-size: 20px;  
    padding:10px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color: var(--white-color);
}

section{
    padding-bottom: 60px;
}