.logo-nav{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 1rem;
    display: flex;
}

.Marketing .container {
    display: flex;
    justify-content: center;
    padding: 70px;
    margin: auto;
 align-items: start;
 padding-bottom: 50px;
}

.Marketing .container img{
    padding-top: 60px;
    left: 100px;
    width: 40%;
    position: absolute;
}

.Marketing .container .text{
 width: 500px;  
 height : 600px;
 margin:auto;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 color: var(--white-color);
 position: relative;
 padding-top: 75px;
 right: -300px;
 top: 80px;
}

.Marketing .container .line{
display: flex;
flex-wrap: wrap;
gap: 1rem;
position: absolute;
left: -70px;
top: 0;
}

.Marketing .container .line{
    background-color: none;
    color: var(--secondary-color);
    font-size: 40px;
}

.Marketing .container h3{
    font-size: 30px;
    color: var(--white-color);
 }   

.Marketing .container p{
font-size: 17px;
line-height: 30px;
font-family: 'Roboto', sans-serif;
}

.Marketing .container .p1{
    font-size: 30px;
}

.Marketing .container  a{
     width: 280px;
     color: var(--secondary-color);
     background-color: var(--white-color);
     margin: 15px;   
}

.Marketing .container  a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color);

}

.Marketing{
    position: relative;
    padding-bottom: 200px;

}

@media (min-width: 0px) and (max-width: 576px) {
    
 .logo-nav .pic3 , .logo-nav .pic4 , .logo-nav .pic5  {
    display: none;
}

.Marketing .logo-nav{
    order: 1;
    position: relative;
}
 
.logo-nav .a {
    display: block;
    order: 9;
    position: absolute;
    top: 110px; 
    left:290px;
    width: 60px;
    height: 60px;
}
 
.logo-nav .b {
  display: block;
  order: 9; 
  position: absolute;
  top: 110px; 
  right:290px;
  width: 60px;
  height: 60px;
}
    
.Marketing {
     /* background-color: #9a6464; */
     padding-top: 200px;
}

.Marketing .container{
    display: flex;
    justify-content: start;
    height: 1000px;
    flex-wrap: wrap;
    width: 550px;

}

.Marketing .container .pic{
background-color: #fff;
    width: 50%;
    order: 1;
    left: 0px;
    /* width: 100%; */
    position: absolute;
}

.Marketing .pic img{
    width: 450px;
    height: 450px;
    padding-top: 100px;
    left: 0;
}

.Marketing .container .text{
    width: 500px;
    order: 6;
    padding-top: 50px;
    left:-30px;
    top: 500px;
    text-align: center;
}

.Marketing .line i{
    display: none;
}

.Marketing .line h3{
    left: 130px;
    width: 250px;
    position: absolute;
}

.Marketing .text a{
    left:60px;
    top: 590px;
    position: absolute;
}

}

@media (min-width: 576px) and (max-width: 768px) {

         .logo-nav .pic3 , .logo-nav .pic4 , .logo-nav .pic5  {
            display: none;
        }
        
        .Marketing .logo-nav{
            order: 1;
            position: relative;
        }
         
        .logo-nav .a {
            display: block;
            order: 9;
            position: absolute;
            top: 110px; 
            /* left:290px; */
            left: 20%;
            width: 60px;
            height: 60px;
        }
         
        .logo-nav .b {
          display: block;
          order: 9; 
          position: absolute;
          top: 110px; 
          /* right:290px; */
          right: 20%;
          width: 60px;
          height: 60px;
        }
            
        .Marketing {
             /* background-color: #9a6464; */
             padding-top: 200px;
        }
        
        .Marketing .container{
            display: flex;
            justify-content: start;
            height: 1000px;
            flex-wrap: wrap;
            width: 550px;
        
        }

        .Marketing .pic img{
            width: 550px;
            height: 550px;
            padding-top: 100px;
            padding-left: 70px;
            left: 0;
        }
        
        .Marketing .container .text{
            width: 500px;
            order: 6;
            padding-top: 50px;
            left:-20px;
            top: 500px;
            text-align: center;
        }
        
        .Marketing .line i{
            display: none;
        }
        
        .Marketing .line h3{
            left: 140px;
            width: 250px;
            position: absolute;
        }
        
        .Marketing .text a{
            left:40px;
            top: 590px;
            position: absolute;
        }

  } 

  @media (min-width: 768px) and (max-width: 1200px) {
    .logo-nav .pic3 , .logo-nav .pic4  {
        display: none;
    }
    
    .Marketing .logo-nav{
        order: 1;
        position: relative;
    }
     
    .logo-nav .a {
        display: block;
        order: 9;
        position: absolute;
        top: 90px; 
        left:390px;
        width: 50px;
        height: 50px;
    }
     
    .logo-nav .b {
      display: block;
      order: 9; 
      position: absolute;
      top: 90px; 
      right:390px;
      width: 50px;
      height: 50px;
    }
        
    .Marketing {
         /* background-color: #9a6464; */
         padding-top: 200px;
    }
    
    .Marketing .container{
        display: flex;
        justify-content: start;
        height: 1000px;
        flex-wrap: wrap;
        width: 550px;
    
    }

    .Marketing .pic img{
        width: 700px;
        height: 600px;
        padding-top: 100px;
        padding-left: 100px;
        left: 0;
    }
    
    .Marketing .container .text{
        width: 500px;
        order: 6;
        padding-top: 50px;
        left:-20px;
        top: 500px;
        text-align: center;
    }
    
    .Marketing .line i{
        display: none;
    }
    
    .Marketing .line h3{
        left: 140px;
        width: 250px;
        position: absolute;
    }
    
    .Marketing .text a{
        left:40px;
        top: 590px;
        position: absolute;
    }
    
} 
